<div class="settingsForButtons">
    <mat-form-field appearance="outline" class="aligned-element" style="margin-top: 30px">
        <mat-label>Select DFG Layout</mat-label>
        <mat-select [(value)]="selectedLayout" (selectionChange)="applyLayout()" [disabled]="isPetriNetFinished">
            <mat-option *ngFor="let layout of availableLayouts" [value]="layout">
                {{ layout }}
            </mat-option>
        </mat-select>
    </mat-form-field>
  <div class="settingsForButtons">
    <button 
      mat-raised-button 
      [disabled]="!isDFGinNet || isPetriNetFinished" 
      disabledInteractive
      color="primary" 
      class="aligned-element" 
      (click)="performCut(true)">
      Perform Cut
    </button>
    <button 
      mat-raised-button 
      [disabled]="!isDFGinNet || isPetriNetFinished" 
      disabledInteractive
      color="primary" 
      class="aligned-element" 
      (click)="resetCut()">
      Reset Marked Edges
    </button>
    <button 
      mat-raised-button 
      [disabled]="!selectedEventLog || !isDFGinNet || isPetriNetFinished" 
      disabledInteractive
      color="primary" 
      class="aligned-element" 
      (click)="applyFallThrough()">
      Apply Fall Through
    </button>
    <button 
      mat-raised-button 
      [disabled]="!selectedEventLog || isPetriNetFinished" 
      disabledInteractive
      color="primary"
      class="aligned-element"
      (click)="applyLayoutToSelectedEventLog()">
      Redo DFG Layout
    </button>
  </div>

  <button 
    mat-raised-button 
    [disabled]="!isPetriNetFinished" 
    disabledInteractive 
    color="primary" 
    class="aligned-element" 
    (click)="downloadPetriNet('pnml')" 
    title="Download PetriNet as PNML (enabled when finished)">
    Download PetriNet (PNML)
  </button>
  <button 
    mat-raised-button 
    [disabled]="!isPetriNetFinished" 
    disabledInteractive 
    color="primary" 
    class="aligned-element" 
    (click)="downloadPetriNet('json')"
    title="Download PetriNet as JSON (enabled when finished)">
    Download PetriNet (JSON)
  </button>
</div>

<div class="resizable-container">
    <svg #drawingArea id="drawing" class="canvas" (drop)="processDropEvent($event)" (mousedown)="processMouseDown($event)"
        (mouseup)="processMouseUp($event)" (mousemove)="processMouseMove($event)" (dragover)="prevent($event)">
    </svg>
</div>
