<div class="settingsForButtons">
  <mat-form-field appearance="fill" class="aligned-element">
    <mat-label>Select DFG Layout</mat-label>
    <mat-select [(value)]="selectedLayout" (selectionChange)="applyLayout()">
      <mat-option *ngFor="let layout of availableLayouts" [value]="layout">
        {{ layout }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" class="aligned-element" (click)="performCut()">
    Perform Cut
  </button>
  <button mat-raised-button color="primary" class="aligned-element" (click)="resetCut()">
    Reset Marked Edges
  </button>
  <button mat-raised-button color="primary" class="aligned-element" (click)="fallThrough()">
    Fallthrough
  </button>
  <button mat-raised-button [disabled]="!isPetriNetFinished" color="primary" class="aligned-element" (click)="downloadPetriNet('pnml')" >
    Download PetriNet (PNML)
  </button>
  <button mat-raised-button [disabled]="!isPetriNetFinished" color="primary" class="aligned-element" (click)="downloadPetriNet('json')" >
    Download PetriNet (JSON)
  </button>
</div>

<div class="resizable-container">
  <svg #drawingArea class="canvas"
       (drop)="processDropEvent($event)"
       (mousedown)="processMouseDown($event)"
       (mouseup)="processMouseUp($event)"
       (mousemove)="processMouseMove($event)"
       (dragover)="prevent($event)">
  </svg>
</div>
