
<mat-form-field appearance="fill">
     <mat-label>Select Layout</mat-label>
     <mat-select [(value)]="selectedLayout" (selectionChange)="applyLayout()">
       <mat-option *ngFor="let layout of availableLayouts" [value]="layout">
         {{ layout }}
       </mat-option>
     </mat-select>
</mat-form-field>

<svg #drawingArea class="canvas"
     (drop)="processDropEvent($event)"
     (mousedown)="processMouseDown($event)"
     (mouseup)="processMouseUp($event)"
     (mousemove)="processMouseMove($event)"
     (dragover)="prevent($event)">
</svg>

<button (click)="performCut()">Perform cut</button>
<button (click)="resetCut()">Cancel</button>
<button *ngIf="isPetriNetFinished" (click)="downloadPetriNet()">download PetriNet</button>
