.canvas {
    width: 100%;
    height: 800px;
    border-style: dotted;
    border-color: lightgrey;
}

.settingsForButtons {
    display: flex;
    align-items: center; /* Align items vertically */
    gap: 16px; /* Add space between elements */
  }
  
  .aligned-element {
    flex: 1; /* Ensures both elements take equal width */
    max-width: 250px; /* Optional: Restrict max width for form field and button */
  }