<div class="flexColumnAlignStartStretch">
    <!--  Header  -->
    <div class="flexRowAlignCenterCenter">
        <a href="https://www.fernuni-hagen.de/ilovepetrinets/">
            <h1>I <span class="red">❤</span> Petri Nets</h1>
        </a>
    </div>
    <h2>
        <i>ReBIM - An interactive Tool to learn the Inductive Miner by Tilman Sanders featuring a recursive, block-structured Layout</i> <br>
        Based on <a href="https://github.com/FaPra-Gruppe-Westem/Westen-FaPra-WiSe-24-25" style="color: blue; text-decoration: underline;">this Implementation</a> with an improved layout algorithm and additional enhancements.
    </h2>

    <!--    Main content    -->
    <app-display class="padding full-size" (fileContent)="processSourceChange($event)" (selectedEventLogChange)="updateSelectedEventLog($event)"></app-display>

    <div class="sampleFile">
        <div class="flexRowAlignSpaceEvenlyStart">
            <app-example-file title="Sequence Cut example" link="assets/sequenceCut.xes"
                            description="Example for Sequence Cut"></app-example-file>
            <app-example-file title="Exclusive Cut example" link="assets/exclusiveCut.xes"
                            description="Example for Exclusive Cut"></app-example-file>
            <app-example-file title="Parallel Cut example" link="assets/parallelCut.xes"
                            description="Example for Parallel Cut"></app-example-file>
            <app-example-file title="Loop Cut example" link="assets/loopCut.xes"
                            description="Example for Loop Cut"></app-example-file>
        </div>

        <div class="flexRowAlignSpaceEvenlyStart">
            <app-example-file title="Lecture example" link="assets/lectureExample.xes"
                              description="Event log from lecture [1]"></app-example-file>
            <app-example-file title="Reviewing example" link="assets/reviewing.xes"
                              description="Reviewing .xes log file [2]"></app-example-file>
            <app-example-file title="Repair example" link="assets/repairExample.xes"
                              description="Repair .xes log file [3]"></app-example-file>
        </div>

        <div class="flexRowAlignSpaceEvenlyStart">
            <app-example-file title="Flower Model example" link="assets/fallthrough-flower.xes"
                            description="Example for Flower Model"></app-example-file>
            <app-example-file title="ActivityOncePerTrace example" link="assets/fallthrough-aopt.xes"
                            description="Example for ActivityOncePerTrace"></app-example-file>
        </div>

        <div class="eventLogDisplay">
            <app-event-log-display style="width: 100%" [selectedEventLog]="selectedEventLog" ></app-event-log-display>
        </div>

        <div class="inputFeature">
            <app-event-log-input style="width: 100%" (eventLogChange)="parseEventLog($event)"></app-event-log-input>
        </div>

    </div>

    <div class="sources">
        <br><br>
        <div>
            [1] s. lecture module 64090 figure 8.2.1 at Fernuni Hagen
        </div>
        <div>
            [2] Adapted from the originals introduced in Chapter 8 of the
            Process Mining: Data Science in Action book by Wil van der Aalst.
            The original files can be downloaded
            <a href="https://processmining.org/old-version/event-book.html" target="_blank">here</a>
        </div>
        <div>
            [3] Original file taken from
            <a href="https://promtools.org/prom-documentation/" target="_blank">ProM Tools Tutorial</a>.
            The original files can be downloaded
            <a href="https://promtools.org/?smd_process_download=1&amp;download_id=161" target="_blank">here</a>
        </div>
    </div>
    <!--  Footer  -->
    <hr>
    <app-footer></app-footer>
</div>
