<div class="flexColumnAlignStartStretch">
    <!--  Header  -->
    <div class="flexRowAlignCenterCenter">
        <a href="https://www.fernuni-hagen.de/ilovepetrinets/">
            <h1>I <span class="red">❤</span> Petri Nets</h1>
        </a>
    </div>
    <h2>
        <i>Fachpraktikum Programmiersysteme WiSe24/25</i> by<br>
        Douglas, Lukas, Ramzan and Tilman
    </h2>

    <!--    Main content    -->
    <app-display class="padding full-size" (fileContent)="processSourceChange($event)"></app-display>

    <div class="sampleFile">

        <div class="flexRowAlignSpaceEvenlyStart">
            <app-example-file title="Lecture example" link="assets/lectureExample.xes"
                              description="Event log from lecture [1]"></app-example-file>
            <app-example-file title="Sequence cut example" link="assets/sequenceCut.xes"
                              description="Example for sequence cut"></app-example-file>
            <app-example-file title="Exclusive cut example" link="assets/exclusiveCut.xes"
                              description="Example for exclusive cut"></app-example-file>
            <app-example-file title="Parallel cut example" link="assets/parallelCut.xes"
                              description="Example for parallel cut"></app-example-file>
            <app-example-file title="Loop cut example" link="assets/loopCut.xes"
                              description="Example for loop cut"></app-example-file>
            <app-example-file title="Reviewing Example" link="assets/reviewing.xes"
                              description="reviewing .xes log file [2]"></app-example-file>
            <app-example-file title="repair Example" link="assets/repairExample.xes"
                              description="repair .xes log file [3]"></app-example-file>
        </div>

        <div class="inputFeature">
            <app-event-log-input style="width: 100%" (eventLogChange)="parseEventLog($event)"></app-event-log-input>
        </div>

    </div>

    <div class="sources">
        <div>
            [1] s. lecture module 64090 figure 8.2.1 at Fernuni Hagen
        </div>
        <div>
            [2] adapted from the originals introduced in Chapter 8 of the
            Process Mining: Data Science in Action book by Wil van der Aalst.
            The original files can be downloaded
            <a href="https://processmining.org/old-version/event-book.html" target="_blank">here</a>
        </div>
        <div>
            [3] Original file taken from
            <a href="https://promtools.org/prom-documentation/" target="_blank">ProM Tools Tutorial</a>.
            The original files can be downloaded
            <a href="https://promtools.org/?smd_process_download=1&amp;download_id=161" target="_blank">here</a>
        </div>
    </div>
    <!--  Footer  -->
    <hr>
    <app-footer></app-footer>
</div>
