<div class="flexColumnAlignStartStretch">
    <!--  Header  -->
    <div class="flexRowAlignCenterCenter">
        <a href="https://www.fernuni-hagen.de/ilovepetrinets/">
            <h1>I <span class="red">❤</span> Petri Nets</h1>
        </a>
    </div>
    <h2>
        <i>Fachpraktikum Programmiersysteme WiSe24/25</i> by<br>
        Douglas, Lukas, Ramzan and Tilman
    </h2>

    <!--    Main content    -->
    <app-display class="padding full-size" (fileContent)="processSourceChange($event)"></app-display>

    <div class="sampleFile">

        <div class="flexRowAlignSpaceEvenlyStart">
            <app-example-file title="Lecture example" link="assets/lectureExample.xes"
                              description="Event log from module 64090 figure 8.2.1"></app-example-file>
            <app-example-file title="Sequence cut example" link="assets/sequenceCut.xes"
                              description="Example for sequence cut"></app-example-file>
            <app-example-file title="Exclusive cut example" link="assets/exclusiveCut.xes"
                              description="Example for exclusive cut"></app-example-file>
            <app-example-file title="Parallel cut example" link="assets/parallelCut.xes"
                                description="Example for parallel cut"></app-example-file>
            <app-example-file title="Loop cut example" link="assets/loopCut.xes"
                                description="Example for loop cut"></app-example-file>
            <app-example-file title="Reviewing Example" link="assets/reviewing.xes"
                description="reviewing .xes log file"></app-example-file>
            <app-example-file title="repair Example" link="assets/repairExample.xes"
                description="repair .xes log file"></app-example-file>
        </div>

        <div class="inputFeature">
            <app-event-log-input style="width: 100%" (eventLogChange)="parseEventLog($event)"></app-event-log-input>
        </div>

    </div>
    <!--  Footer  -->
    <hr>
    <app-footer></app-footer>
</div>
