.red {
    color: red;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;
}

hr {
    border-color: lightgray;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.flexColumnAlignStartStretch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.flexRowAlignCenterCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sampleFile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1px;
    padding-top: 20pt;
    width: 100%;
}

.flexRowAlignSpaceEvenlyStart {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the start */
    align-items: flex-start;
    width: 40%; /* Reduced width to make items closer */
    gap: 10px; /* Optional: controls space between items */
}

.inputFeature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%; /* Reduced width to make it closer to others */
    margin-left: 20pt;
}

.eventLogDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%; /* Reduced width to make it closer to others */
}

.sources a {
    text-decoration: underline;
    font-style: italic;
}
