/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    padding: 50px;
    font-family: "Courier New", sans-serif;
}

.group-background {
    fill: lightblue;
    stroke: black; 
    stroke-width: 2; 
}

.highlightedDFG {
    stroke-width: 6; 
}

.non-selectable {
    user-select: none;
    pointer-events: none; /* Optional, to ensure clicks pass through the text */
}

.place {
    fill: none;
    stroke: black;
    stroke-width: 4;
}

.transition {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.transitionStyle {
    fill: none;
    stroke: black;
    stroke-width: 4;
}

.dfgNode {
    fill: blue;
}

.highligtedDFGNode{
    fill: yellow;
}

.dfgPlayNode {
    fill: green;
}

.dfgStopNode {
    fill: red;
}

.edge {
    stroke: black;      
    stroke-width: 2;     
    marker-end: url(#arrow);
}

.edge.selectedEdge {
    stroke: red;
    marker-end: url(#arrow-selected);
}

.drawn-line {
    stroke: red;
    stroke-width: 2;
    stroke-dasharray: 5,5;
    stroke-opacity: 0.8;
}
