.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
}

.aligned-element {
    align-self: center; /* Ensures the button is centered */
    height: fit-content;
    padding: 15px;
    font-size: large;
    max-width: fit-content;
}